<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JORNAL</title>
  </head>
  <body>
 
    <form action="/logout?_method=DELETE" method="POST">
      <button id="oi" type="submit" >LOGOUT</button>
    </form>
    <h1>SEJA BEM VINDO AO JORNAL</h1>   

    <a id="i" href="/login">faca seu login</a>
    <a id="a" href="/register">faca seu registro</a>

 
    








    <style>  
    #i{
      position:relative;
left: 1550px;




}
#a{
  position: relative;
left: 1600px;




}
#oi{
 position: relative;
 left: 1770px;



}
    
    
    
    
    </style>
  </body>
</html>